@model LatinMedia.Core.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <form asp-action="ChangePassword" method="post">

            <div class="row">

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">تغییر کلمه عبور</h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body">
                            @if (ViewBag.IsSuccess != null)
                            {
                                <div class="alert alert-success text-center">
                                    کلمه عبور با موفقیت تغییر یافت
                                </div>
                            }
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label asp-for="OldPassword" class="bmd-label-floating"></label>
                                        <input asp-for="OldPassword" type="password" class="form-control">
                                    </div>
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label asp-for="Password" class="bmd-label-floating"></label>
                                        <input type="password" asp-for="Password" class="form-control">
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label asp-for="RePassword" class="bmd-label-floating"></label>
                                        <input type="password" asp-for="RePassword" class="form-control">
                                    </div>
                                    <span asp-validation-for="RePassword" class="text-danger"></span>
                                </div>

                            </div>

                            <br/>

                            <button type="submit" class="btn btn-success btn-round  pull-right">ذخیره اطلاعات</button>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>


