<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item ">
            <a class="nav-link" href="/UserPanel/">
                <i class="material-icons">dashboard</i>
                <p>داشبورد</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/UserPanel/EditProfile">
                <i class="material-icons">person</i>
                <p>ویرایش اطلاعات کاربری</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/UserPanel/ChangePassword">
                <i class="material-icons ">vpn_key</i>
                <p>تغییر کلمه عبور</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/UserPanel/Wallet">
                <i class="material-icons">business_center</i>
                <p>کیف پول شما</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/UserPanel/ChangeMail">
                <i class="material-icons">bubble_chart</i>
                <p>تغییر ایمیل کاربری</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/UserPanel/MyOrders">
                <i class="material-icons">poll</i>
                <p>فاکتورها</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/UserPanel/MyOrders/UserCourses">
                <i class="material-icons">notifications</i>
                <p>‌دانلود دوره ها</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="./rtl.html">
                <i class="material-icons">language</i>
                <p>پشتیبانی از راست به چپ</p>
            </a>
        </li>
        <li class="nav-item ">
            <a  class="nav-link btn-danger" href="/Logout">
                <i class="material-icons">exit_to_app</i>
                <p>خروج</p>
            </a>
        </li>
    </ul>
</div>