@model LatinMedia.Core.ViewModels.ChangeMailViewModel

<div style="direction:rtl; padding:20px">
   
    <p>
       با سلام ، لطفا جهت تغییر ایمیل کاربری خود ، روی لینک زیر کلکی نمایید
        <br />
        <a href="https://localhost:44341/Account/ChangeMailAccount?userId=@Model.UserId&token=@Model.Token&mail=@Model.Email">تغییر ایمیل</a>
    </p>
</div>